<h1>Gameboard</h1>
<a href="{% url 'grids:index' %}">Game List</a>
{% if gameboard %}

<ul>
<li>Rows: {{rows}}</li>
<li>Columns: {{cols}}</li>
<li>Teams:
	<ul>
{% for t in teams %}
	
	<li>{{t.name}}</li>
	<ul>
{% for p in t.player.all %}
	<li>{{p}}</li>
{% endfor %}
</ul>
{% endfor %}
</ul>
<li>
</ul>

<table border=1>

{% for row in gameboard_array %}

	<tr>
	{% for col in row %}
		
		<td> {% if col.player is null  %}
				BLANK
			{% else  %}
				
				{% for p in col.player.all%}
					{{p}},
				{% endfor %}
			{% endif %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
		

	
</table>
{{ gameboard }}
{{ gamestate }}

{% else %}
    <p>No players are available.</p>
{% endif %}
