<h1>Gameboard</h1>
<a href="{% url 'grids:index' %}">Game List</a>
{% if gameboard %}

<ul>
<li>Rows: {{rows}}</li>
<li>Columns: {{cols}}</li>
<li>Teams:{{gamestate}}
 {% for t in gamestate.teams %}
			fo
{{fo}}
		{% endfor %}
<li>
</ul>

<table border=1>

{% for row in gameboard_array %}

	<tr>
	{% for col in row %}
		
		<td> {% if col.player is null  %}
				BLANK
			{% else  %}
				
				{% for p in col.player.all%}
					{{p}},
				{% endfor %}
			{% endif %}
		</td>
	{% endfor %}
	</tr>
{% endfor %}
		

	
</table>
{{ gameboard }}

{% else %}
    <p>No players are available.</p>
{% endif %}
